body,
html {
  overflow-x: hidden;
}
body {
  user-select: none;
  background-color: #232424;
}

h1 {
  color: white;
  font-size: 40px;
  position: relative;
  margin-left: 110px;
  cursor: default;
}
h2 {
  color: #0283f0;
  font-weight: 400;
  position: relative;
  margin-left: 110px;
  cursor: default;
}
span {
  color: #9b9d9f;
  display: inline-block;
  margin-left: 110px;
  cursor: default;
}
p {
  color: white;
  font-size: 40px;
  position: relative;
  margin-left: 110px;
  cursor: default;
}
hr {
  height: 1px;
  width: 85%;
  border: none;
  background-color: #383a3b;
}
header {
  height: 60px;
  background-color: #232424;
  z-index: 100;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 18px 25px;
  width: 100%;
  top: 0;
}
main {
  margin-top: 60px;
}

.navbar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 7vh;
  width: 85%;
}
.navbar .logo {
  list-style: none;
}
.navbar .menu {
  list-style: none;
  display: flex;
  gap: 30px;
  color: white;
}

.none {
  height: 100px;
}
.none-h1 {
  height: 80px;
}

.history {
  display: flex;
  justify-content: center;
  width: 85%;
  font-weight: 400;
  font-size: 40px;
}

.about {
  font-size: 60px;
}
.about-team {
  color: #0283f0;
  cursor: pointer;
}
.service:hover,
.blog:hover {
  color: #0283f0;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.ddslogo {
  margin-right: 150px;
}
.logo-group {
  display: flex;
  gap: 15px;
  margin-right: 150px;
}
.gitlogo,
.figmalogo,
.ddslogo {
  width: 80px;
}

.history-ul .year-2017 {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 120px;
  font-size: 22px;
  line-height: 130%;
  color: #fff;
}
.history-ul span {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 131, 240);
  border-radius: 100%;
}
.year {
  color: #fff;
}
