body,
html {
  overflow-x: hidden;
}
body {
  user-select: none;
  background-color: #232424;
  padding: 2rem;
}

h1 {
  color: white;
  font-size: 40px;
  position: relative;
  margin-left: 110px;
  cursor: default;
}
h2 {
  color: #0283f0;
  font-weight: 400;
  position: relative;
  margin-left: 110px;
  cursor: default;
}
span {
  color: #9b9d9f;
  display: inline-block;
  margin-left: 110px;
  cursor: default;
}
p.history {
  color: white;
  font-size: 40px;
  position: relative;
  margin-left: 110px;
  cursor: default;
}
hr {
  height: 1px;
  width: 85%;
  border: none;
  background-color: #383a3b;
}
header {
  height: 60px;
  background-color: #232424;
  z-index: 100;
  position: fixed;
  padding: 18px 25px;
  width: 100%;
  top: 0;
}
main {
  margin-top: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 7vh;
  width: 85%;
}
.navbar .logo {
  list-style: none;
}
.navbar .menu {
  list-style: none;
  display: flex;
  gap: 30px;
  color: white;
}

.none {
  height: 100px;
}
.none-h1 {
  height: 80px;
}

.history {
  display: flex;
  justify-content: center;
  width: 85%;
  font-weight: 400;
  font-size: 40px;
}

.about {
  font-size: 60px;
}
.about-team {
  color: #0283f0;
  cursor: pointer;
}
.service:hover,
.blog:hover {
  color: #0283f0;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.ddslogo {
  margin-right: 150px;
}
.logo-group {
  display: flex;
  gap: 15px;
  margin-right: 150px;
}
.gitlogo,
.figmalogo,
.ddslogo {
  width: 80px;
}

.entry {
  margin-bottom: 40px;
}

.year {
  font-size: 22px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #0283f0;
  border-radius: 50%;
  margin-right: 10px;
}

.event {
  margin-left: 20px;
  margin-top: 4px;
  color: white;
  font-size: 16px;
}

.month {
  color: #9b9d9f;
  margin-right: 4px;
}

.footer {
  background-color: #232424;
  padding: 30px 0;
  color: #ccc;
  font-size: 12px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.footer-left p {
  margin: 5px 0;
  color: #9b9d9f;
}

.footer-left a:hover {
  color: #0283f0;
}

.footer-right {
  display: flex;
  gap: 60px;
  color: #d3d4d5;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
}

.footer-links a:hover {
  color: #0283f0;
}

.event {
  margin-bottom: 40px;
}

.month.hidden {
  visibility: hidden;
  display: inline-block;
  width: 3ch;
}
