body,
html {
  overflow-x: hidden;
}
body {
  background-color: #232424;
  user-select: none;
}
h1 {
  color: white;
  font-size: 300%;
  position: relative;
  margin-left: 110px;
  cursor: default;
}
h2 {
  color: #0283f0;
  font-weight: 400;
  position: relative;
  margin-left: 110px;
  cursor: default;
}
span {
  color: #9b9d9f;
  display: inline-block;
  margin-left: 110px;
  cursor: default;
}
hr {
  height: 1px;
  width: 85%;
  border: none;
  background-color: #383a3b;
}
header {
  height: 60px;
  background-color: #232424;
  z-index: 100;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 18px 25px;
  width: 100%;
  top: 0;
}
main {
  margin-top: 60px;
}
.navbar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 7vh;
  width: 85%;
}
.navbar .logo {
  list-style: none;
}
.navbar .menu {
  list-style: none;
  display: flex;
  gap: 30px;
  color: white;
}
.none {
  height: 100px;
}
.none-h1 {
  height: 50px;
}
.history {
  display: flex;
  justify-content: center;
  width: 85%;
  font-weight: 400;
  font-size: 40px;
}
h1 {
  font-size: 40px;
}
.about {
  font-size: 60px;
}

.about-team {
  color: #0283f0;
  cursor: pointer;
}
.service:hover,
.blog:hover {
  color: #0283f0;
  cursor: pointer;
}
